div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}
div.gallery{
	border: 1px solid #777;
}
div.gallery img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}

div.desc{
	padding: 15px;
	text-align: center;
}

.sprite{
	background: url("img/final.png");
	width: 600px;
	height: 600px;
	background-repeat: no-repeat;
}
.astro{

}
.moon{
	display: inline-block;
	background-position: -500px -500px;
}

}


/*

-- attribute exists--
[data-value]{
	
}

-- attribute has this exact value --
[data-value="foo"]{
	
}

-- attribute value contains this value somewhere in it --
[data-value*="foo"]{
	
}

-- attribute has this value space-separated list somewhere --
[data-value~="foo"]{
	
}

-- attribute value starts with it --
[data-value^="foo"]{
	
}

-- attribute value starts with this in a dash-separated list --
[data-value|="foo"]{
	
}

-- attribute value ends with this --
[data-value$="foo"]{
	
}

*/

p[class]{
	color: blue;
}

p[class="ds"]{
	color: red;
}

p[class*="ds"]{
	color: green;
}

p[class~="ds"]{
	color: purple;
}

p[class^="paragraf"]{
	color: orange;
}

p[class|="ds"]{
	color: hotpink;
}

p[class="ds"]{
	color: red;
}


p[class$="ds"]{
	color: aquamarine;
}